* {
    font-family: 'Otomanopee One', sans-serif;
}

div {
    width: 100%;
    height: 100%;
}

.container {
    /* margin: 20px;
    width: 500px;
    height: 500px; */
    width: 25%;
    height: 30%;
    perspective: 1000px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.card {
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.front,
.back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* backface-visibility: hidden; */
}

.front {
    border: 2px solid black;
    /* background: url("http://placehold.it/250x250"); */
}

.front:hover {
    bottom: 2px;
    left: 2px;
    box-shadow: 0px 0px 20px 1px #000;
}

.back {
    border: 2px solid black;
    /* backgr   ound: url("http://placehold.it/100x100"); */
    transform: rotateY(180deg);
}

.back:hover {
    bottom: 2px;
    right: 2px;
    box-shadow: 0px 0px 20px 1px #000;
}

button #reset,
#start-stop {
    background-color: navy;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 25px;
}