* {
  background-color: rgba(245, 229, 190, 0.932);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* height:100vh; */
}

.upper-main {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

button {
  background: none;
  color: #dace8c;
  border: 2px solid;
  border-radius: 25px 25px 25px 25px;
  padding: 1em 2em;
  font-size: 1em;
  transition: all 0.25s;
}

button:hover {
  border-color: #e4e677;
  color: #ffffff;
  box-shadow: 0px 0.5em 0.5em 0 #dace8c;
  transform: translateY(-0.25em);
}

.main-cards{


  display: flex;
  justify-content: space-between;
  max-width: 65vw;
  margin: 10% auto 0;
  justify-items: center;
    /* display: flex;
    align-items: center;
    /* padding: 10px; */
  }

/* .main-cards > div { */
  /* width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;} */
  



.about-Ben {
  width: 150px;
  height: 150px;
  border: solid 6px #dace8c;
  border-radius: 100px;
  justify-content: space-between;
  
  /* background-size: 110% 100%; */
}
/* 
.about-Christi {
  width: 150px;
  height: 150px;
  border: solid 6px #dace8c;
  border-radius: 100px;
  /* background-size: 110% 100%; */
} */
/* 
.about-Daniel {
  width: 150px;
  height: 150px;
  border: solid 6px #dace8c;
  border-radius: 100px;
  /* background-size: 110% 100%; */
} */
